<div class="xc_facet xc_facet_input">
	<div class="xc_label_wrapper">
		<span class="xc_question" data-dojo-attach-point="titleNode">%{facetInGroup.longQuestion}</span>
		<span class="xc_label" data-dojo-attach-point="valueNode"></span>
		<span data-dojo-attach-point="rangeLabelNode"></span>
		<span class="xc_product_count" data-dojo-attach-point="matchingProductCountNode"></span>
		<div class="xc_longText">%{facetInGroup.contentItems.longText}</div>
	</div>
	<div data-dojo-attach-point="sliderNode"></div>
	<div class="xc_explanation_trigger" data-dojo-attach-point="explanationTriggerNode" data-explanation-event-type="custom"></div>
</div>
