<div class="xc_facetgroup xc_topic">
	<div class="xc_topic_header" %{facetGroup.contentItems.decoration_image$heightPx=160&widthPaddingPx=0:availableWidthImageBackground}>
		<div class="xc_label xc_topic_label xc_topic_headline">%{facetGroup.label}</div>
	</div>
	<div data-xc-type="widget.facetgroup.wizard.TopicNavigation"></div>
	<div class="xc_wrapper_questions" data-dojo-attach-point="questionsNode">
		<div class="xc_label xc_facetgroup_label xc_topic_label">%{facetGroup.longLabel}</div>
		<div data-dojo-attach-point="facetsInGroupNode" class="xc_facetsingroup"></div>
		<div data-dojo-attach-point="subFacetGroupsNode" class="xc_subfacetgroups"></div>
	</div>
</div>
