<div class="xc_recommendations">
	<div class="xc_recommendations_contents" data-dojo-attach-point="containerNode">
		<div data-dojo-attach-point="topRecommendationNode" class="xc_top_recommendation"></div>
		<div class="xc_recommendations_main_heading">
			<div data-dojo-attach-point="alternativesOnlyHeadingNode" class="xc_recommendations_alternatives_only_heading">Zu deinen Eingaben gibt es leider keine perfekt passenden Produkte - hier die besten Alternativen</div>
		</div>
		<div data-dojo-attach-point="otherRecommendationsNode">
			<div data-dojo-attach-point="otherRecommendationsInitialNode" class="xc_other_recommendations"></div>
			<div data-dojo-attach-point="otherRecommendationsMoreNode" class="xc_more_recommendations xc_other_recommendations"></div>
		</div>
	</div>
	<div class="xc_recommendations_overlay xc_transition_overlay" data-dojo-attach-point="overlayNode"></div>
</div>
