@charset "utf-8";

/* FOR TEST-PAGES only */
body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8pt;
	color: #222222;
	background-color: white;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

h1
{
	font-family: verdana, arial, helvetica, sans-serif;;
	font-size: 10pt;
	font-weight: bold;
	color: darkblue;
	padding: 0px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 6px;
	margin-top: 6px;
}
h2 {
	margin: 0px; 	
	font-size: 10pt;
}
