<div class="xc_facetgroup">
	<div data-dojo-attach-point="titleNode, collapserNode" class="xc_label xc_facetgroup_label">
		<span>%{facetGroup.longLabel}</span>
		<div data-xc-type="widget.facetgroup.SelectionTags" data-dojo-props="facetGroupName:'%{apiName}',tagsAreClickable:false"></div>
	</div>
	<div data-dojo-attach-point="collapsibleNode">
		<div data-dojo-attach-point="facetsInGroupNode" class="xc_facetsingroup"></div>
		<div data-dojo-attach-point="subFacetGroupsNode" class="xc_subfacetgroups"></div>
	</div>
</div>
